{% extends "accounts/index.html" %}

{% block title %}
    Carreras
{% endblock %}

{% block accounts_container %}
<div class="container">
    <h2 class="mt-4">Carreras</h2>
    <div class="table-responsive">
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for carrera in object_list %}
                    <tr>
                        <td>
                            <a href="#"># {{ carrera.pk }}</a>
                        </td>
                        <td>
                            {{ carrera.nombre }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
      /* Estilos personalizados aquí */
      .mt-4 {
        border: 2px solid #ccc;
        margin-top: 2rem !important;
        padding: 1rem;
        text-align: left; /* Alineación a la izquierda */
    }

    /* Personalizar el color de fondo de la tabla */
    .table {
        width: 100%;
        max-width: 800px;
        border-collapse: collapse;
        margin-top: 1.5rem;
        box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
    }

    /* Personalizar el color del encabezado de la tabla */
    .table thead {
        background-color: #343a40;
        color: #fff;
    }

    /* Estilos para las celdas de encabezado */
    .table th {
        padding: 0.75rem;
        text-align: left;
    }

    /* Personalizar el color del enlace en la columna ID */
    .table tbody a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
        padding-left: 10px;
    }

    /* Personalizar el color del enlace al pasar el mouse */
    .table tbody a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    /* Estilo para las filas pares de la tabla */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Estilo para las filas impares de la tabla */
    .table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    /* Estilo para las celdas de la tabla */
    .table td {
        padding: 0.75rem;
        border: 1px solid #ddd;
        text-align: left;
    }

    /* Añadir espacio en la parte inferior de la tabla */
    .table-container {
        margin-bottom: 1.5rem;
    }

    /* Estilo para el título */
    h2 {
        font-size: 20px; /* Tamaño de fuente más pequeño */
        text-align: left; /* Alineación a la izquierda */
        margin-bottom: 0.5rem; /* Espacio inferior para separar del contenido */
        color: #343a40; /* Color del título similar al color del encabezado de la tabla */
        background-color: #fff; /* Fondo del título similar al fondo de la tabla */
        padding: 0.5rem; /* Espaciado adicional para el título */
    }
</style>
{% endblock %}
