{% extends "accounts/index.html" %}

{% block title %}
    Laboratorios
{% endblock %}

{% block accounts_container %}
    <div class="container">
        <h2 class="mt-4">Laboratorios Disponibles</h2>
        <div class="table-responsive">
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Capacidad</th>
                        <th>Carreras</th>
                        <th>Teléfono</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in object_list %}
                        <tr>
                            <td>
                                <a href="#"># {{ laboratorio.pk }}</a>
                            </td>
                            <td>{{ laboratorio.nombre }}</td>
                            <td>{{ laboratorio.email }}</td>
                            <td>{{ laboratorio.capacidad }}</td>
                            <td>{{ laboratorio.carreras }}</td>
                            <td>{{ laboratorio.telefono }}</td>
                            <td>{{ laboratorio.hora_inicio }}</td>
                            <td>{{ laboratorio.hora_fin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
    <style>
        /* Estilos personalizados aquí */
        .page-header {
            border: 2px solid #ccc;
            background-color: #343a40;
            color: #fff;
            padding: 1rem;
        }
    
        .form-horizontal .form-group label {
            font-weight: bold;
        }
    
        .help-block {
            color: #dc3545;
        }
    
        /* Conservar los estilos de los botones */
        .btn-primary {
            background-color: #676c70e9;
            border-color: #9ba0a5;
        }
    
        .btn-primary:hover {
            background-color: #8b8e91;
            border-color: #9ba0a5;
        }
    
        /* Estilos adicionales para la tabla y el título */
        .mt-4 {
            border: 2px solid #ccc;
            margin-top: 2rem !important;
            padding: 1rem;
        }
    
        .table {
            width: 100%;
            max-width: 800px;
            border-collapse: collapse;
            margin-top: 1.5rem;
            box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
        }
    
        .table thead {
            background-color: #343a40;
            color: #fff;
        }
    
        .table th {
            padding: 0.75rem;
            text-align: left;
        }
    
        .table tbody a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }
    
        .table tbody a:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    
        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        .table tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
    
        .table td {
            padding: 0.75rem;
            border: 1px solid #ddd;
            text-align: left;
        }
    
        .table-container {
            margin-bottom: 1.5rem;
        }
    
        h2 {
            font-size: 20px;
            text-align: left;
            margin-bottom: 0.5rem;
            color: #343a40; /* Color del título similar al color del encabezado de la tabla */
            background-color: #fff; /* Fondo del título similar al fondo de la tabla */
            padding: 0.5rem; /* Espaciado adicional para el título */
        }
    </style>
    
{% endblock %}
