{% extends "accounts/index.html" %}

{% block title %}
    Laboratorios
{% endblock %}

{% block accounts_container %}
<h2>Laboratorios Disponibles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Capacidad 
            </th>
            <th>
                Carreras
            </th>
            <th>
                Telefono
            </th>
            <th>
                Hora_Inicio
            </th>
            <th>
                Hora_Fin
            </th>
        </tr>
    </thead>
    <tbody>
        {% for laboratorio in object_list %}
        <tr>
            <td>
                <a href=""># {{ laboratorio.pk }}</a>
            </td>
            <td>
                {{ laboratorio.nombre }}
            </td>
            <td>
                {{ laboratorio.email }}
            </td>
            <td>
                {{ laboratorio.capacidad }}
            </td>
            <td>
                {{ laboratorio.carreras }}
            </td>
            <td>
                {{ laboratorio.telefono }}
            </td>
            <td>
                {{ laboratorio.hora_inicio }}
            </td>
            <td>
                {{ laboratorio.hora_fin }}
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}