{% extends "accounts/index.html" %}

{% block title %}
    Mis Reservas
{% endblock %}

{% block accounts_container %}
<div class="container mt-4">
    <h2 class="mb-4">Mis Reservas</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Laboratorios</th>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in object_list %}
                <tr>
                    <td>{{ consulta.pk }}</td>
                    <td>{{ consulta.agenda.laboratorio }}</td>
                    <td>{{ consulta.agenda.dia|date:"d/m/Y" }}</td>
                    <td>{{ consulta.agenda.get_horario_display }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'reservas:agendar_reserva_actualizar' consulta.id %}" class="btn btn-primary" role="button">
                                <i class="fas fa-edit"></i> Actualizar
                            </a>
                            <a href="{% url 'reservas:agendar_reserva_eliminar' consulta.id %}" class="btn btn-danger" role="button">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                            <a href="{% url 'reservas:disponibilidad_laboratorios' %}?dia={{ consulta.dia|date:"Y-m-d" }}&horario={{ consulta.horario }}" class="btn btn-info" role="button">
                                Ver disponibilidad
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
    /* Estilos personalizados aquí */
    .page-header {
        border: 4px solid #ddd;
        background-color: #64676a;
        color: #fff;
        padding: 20px;
    }
  
    .form-horizontal .form-group label {
        font-weight: bold;
    }
  
    .help-block {
        color: #dc3545;
    }
  
    /* Cambiar el color de fondo del botón */
    .btn-primary {
        background-color: #676c70e9;
        border-color: #9ba0a5;
    }
  
    /* Cambiar el color de fondo del botón al pasar el mouse */
    .btn-primary:hover {
        background-color: #8b8e91;
        border-color: #9ba0a5;
    }
  </style>
{% endblock %}
