{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
Registro | {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>Registro</h1>
    </div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
      <fieldset>
        <p>{{ mi_valor }}</p>
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.auto_id }}" class="col-md-3 control-label">
            {{ field.label }}</label>
          <div class="col-md-9">
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- Calendario -->
  <div class="container_calendar">
    <div class="left">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">Años</div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Dom</div>
          <div>Lun</div>
          <div>Mar</div>
          <div>Mir</div>
          <div>Jue</div>
          <div>Vier</div>
          <div>Sab</div>
        </div>
        <div class="days"></div>
        <div class="goto-today">
          <div class="goto">
            <input type="text" placeholder="mm/yyyy" class="date-input" />
            <button class="goto-btn">Go</button>
          </div>
          <button class="today-btn">Today</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="today-date">
        <div class="event-day">wed</div>
        <div class="event-date">Mes</div>
      </div>
      <div class="events"></div>
      </button>
    </div>
  </div>
  <style>
    /* Estilos personalizados aquí */
    .page-header {
      border: 4px solid #ddd;
      background-color: #f5f5f5;
      background-color: #64676a;
      color: #fff;
      padding: 20px;
    }

    .form-horizontal .form-group label {
      font-weight: bold;
    }

    .help-block {
      color: #dc3545;
    }

    /* Cambiar el color de fondo del botón */
    .btn-primary {
      background-color: #676c70e9;
      border-color: #9ba0a5;
    }

    /* Cambiar el color de fondo del botón al pasar el mouse */
    .btn-primary:hover {
      background-color: #8b8e91;
      border-color: #9ba0a5;
    }

    .footer {
      border: 4px solid #ddd;
      background-color: #f5f5f5;
      color: #030303;
      text-align: center;
      padding: 20px 0;
      margin-top: 30px;
    }

    /* Estilos del calendario */
    :root {
      --primary-clr: #b38add;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      position: relative;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
      background-color: #e2e1dc;
    }

    .container_calendar {
      position: relative;
      width: 1200px;
      min-height: 850px;
      margin: 0 auto;
      padding: 5px;
      color: #fff;
      display: flex;

      border-radius: 10px;
      background-color: #373c4f;
    }

    .left {
      width: 60%;
      padding: 20px;
    }

    .calendar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #878895;
      border-radius: 5px;
      background-color: #fff;
    }

    /* set after behind the main element */
    .calendar::before,
    .calendar::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 12px;
      height: 97%;
      border-radius: 0 5px 5px 0;
      background-color: #d3d4d6d7;
      transform: translateY(-50%);
    }

    .calendar::before {
      height: 94%;
      left: calc(100% + 12px);
      background-color: rgb(153, 153, 153);
    }

    .calendar .month {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    .calendar .month .prev,
    .calendar .month .next {
      cursor: pointer;
    }

    .calendar .month .prev:hover,
    .calendar .month .next:hover {
      color: var(--primary-clr);
    }

    .calendar .weekdays {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    .weekdays div {
      width: 14.28%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .calendar .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .calendar .days .day {
      width: 14.28%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--primary-clr);
      border: 1px solid #f5f5f5;
    }

    .calendar .days .day:nth-child(7n + 1) {
      border-left: 2px solid #f5f5f5;
    }

    .calendar .days .day:nth-child(7n) {
      border-right: 2px solid #f5f5f5;
    }

    .calendar .days .day:nth-child(-n + 7) {
      border-top: 2px solid #f5f5f5;
    }

    .calendar .days .day:nth-child(n + 29) {
      border-bottom: 2px solid #f5f5f5;
    }

    .calendar .days .day:not(.prev-date, .next-date):hover {
      color: #fff;
      background-color: var(--primary-clr);
    }

    .calendar .days .prev-date,
    .calendar .days .next-date {
      color: #b3b3b3;
    }

    .calendar .days .active {
      position: relative;
      font-size: 2.3rem;
      color: #fff;
      background-color: var(--primary-clr);
    }

    .calendar .days .active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px 2px var(--primary-clr);
    }

    .calendar .days .today {
      font-size: 2.3rem;
    }

    .calendar .days .event {
      position: relative;
    }

    .calendar .days .event::after {
      content: "";
      position: absolute;
      bottom: 10%;
      left: 50%;
      width: 75%;
      height: 6px;
      border-radius: 30px;
      transform: translateX(-50%);
      background-color: var(--primary-clr);
    }

    .calendar .days .day:hover.event::after {
      background-color: #fff;
    }

    .calendar .days .active.event::after {
      background-color: #fff;
      bottom: 20%;
    }

    .calendar .days .active.event {
      padding-bottom: 10px;
    }

    .calendar .goto-today {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 0 20px;
      margin-bottom: 20px;
      color: var(--primary-clr);
    }

    .calendar .goto-today .goto {
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid var(--primary-clr);
    }

    .calendar .goto-today .goto input {
      width: 100%;
      height: 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0 20px;
      color: var(--primary-clr);
      border-radius: 5px;
    }

    .calendar .goto-today button {
      padding: 5px 10px;
      border: 1px solid var(--primary-clr);
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      color: var(--primary-clr);
    }

    .calendar .goto-today button:hover {
      color: #fff;
      background-color: var(--primary-clr);
    }

    .calendar .goto-today .goto button {
      border: none;
      border-left: 1px solid var(--primary-clr);
      border-radius: 0;
    }

    .container .right {
      position: relative;
      width: 40%;
      min-height: 100%;
      padding: 20px 0;
    }

    .right .today-date {
      width: 100%;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      padding-left: 70px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .right .today-date .event-day {
      font-size: 2.3rem;
      font-weight: 500;
    }

    .right .today-date .event-date {
      font-size: 1.3rem;
      font-weight: 400;
      color: #878895;
    }

    .events {
      width: 100%;
      height: 100%;
      max-height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding-left: 4px;
    }

    .events .event {
      position: relative;
      width: 95%;
      min-height: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      padding: 0 20px;
      padding-left: 50px;
      color: #fff;
      background: linear-gradient(90deg, #3f4458, transparent);
      cursor: pointer;
    }

    /* even event */
    .events .event:nth-child(even) {
      background: transparent;
    }

    .events .event:hover {
      background: linear-gradient(90deg, var(--primary-clr), transparent);
    }

    .events .event .title {
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    .events .event .title .event-title {
      font-size: 1.3rem;
      font-weight: 400;
      margin-left: 20px;
    }

    .events .event i {
      color: var(--primary-clr);
      font-size: 0.8rem;
    }

    .events .event:hover i {
      color: #fff;
    }

    .events .event .event-time {
      font-size: 1.1rem;
      font-weight: 400;
      color: #878895;
      margin-left: 15px;
      pointer-events: none;
    }

    .events .event:hover .event-time {
      color: #fff;
    }

    /* add tick in event after */
    .events .event::after {
      content: "✓";
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 3.3rem;
      line-height: 1;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0.3;
      color: var(--primary-clr);
      transform: translateY(-50%);
    }

    .events .event:hover::after {
      display: flex;
    }

    .events .no-event {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 500;
      color: #878895;
    }

    /* media queries */

    @media screen and (max-width: 1000px) {
      body {
        align-items: flex-start;
        justify-content: flex-start;
      }

      .container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
      }

      .container .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }

      .container .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }

      .calendar::before,
      .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
      }

      .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
      }

      .events {
        padding-bottom: 340px;
      }
    }

    @media screen and (max-width: 500px) {
      .calendar .month {
        height: 75px;
      }

      .calendar .weekdays {
        height: 50px;
      }

      .calendar .days .day {
        height: 40px;
        font-size: 1.1rem;
      }

      .calendar .days .day.active,
      .calendar .days .day.today {
        font-size: 1.3rem;
      }

      .right .today-date {
        padding: 20px;
      }
    }
  </style>
  {% endblock %}

  {% block scripts %}
  <script>
    const calendar = document.querySelector(".calendar"),
      date = document.querySelector(".date"),
      daysContainer = document.querySelector(".days"),
      prev = document.querySelector(".prev"),
      next = document.querySelector(".next"),
      todayBtn = document.querySelector(".today-btn"),
      gotoBtn = document.querySelector(".goto-btn"),
      dateInput = document.querySelector(".date-input"),
      eventDay = document.querySelector(".event-day"),
      eventDate = document.querySelector(".event-date"),
      eventsContainer = document.querySelector(".events"),
      addEventCloseBtn = document.querySelector(".close ");

    let today = new Date();
    let activeDay;
    let month = today.getMonth();
    let year = today.getFullYear();

    const months = [
      "Enero",
      "Febrero",
      "Marzo",
      "Abril",
      "Mayo",
      "Junio",
      "Julio",
      "Agosto",
      "Septiembrer",
      "Octubre",
      "Noviembre",
      "Diciembre",
    ];

    let eventsArr = [];
    getEvents();

    //function to add days in days with class day and prev-date next-date on previous month and next month days and active on today
    function initCalendar() {
      const firstDay = new Date(year, month, 1);
      const lastDay = new Date(year, month + 1, 0);
      const prevLastDay = new Date(year, month, 0);
      const prevDays = prevLastDay.getDate();
      const lastDate = lastDay.getDate();
      const day = firstDay.getDay();
      const nextDays = 7 - lastDay.getDay() - 1;

      date.innerHTML = months[month] + " " + year;

      let days = "";

      for (let x = day; x > 0; x--) {
        days += `<div class="day prev-date">${prevDays - x + 1}</div>`;
      }

      for (let i = 1; i <= lastDate; i++) {
        //check if event is present on that day
        let event = false;
        eventsArr.forEach((eventObj) => {
          if (
            eventObj.day === i &&
            eventObj.month === month + 1 &&
            eventObj.year === year
          ) {
            event = true;
          }
        });
        if (
          i === new Date().getDate() &&
          year === new Date().getFullYear() &&
          month === new Date().getMonth()
        ) {
          activeDay = i;
          getActiveDay(i);
          updateEvents(i);
          if (event) {
            days += `<div class="day today active event">${i}</div>`;
          } else {
            days += `<div class="day today active">${i}</div>`;
          }
        } else {
          if (event) {
            days += `<div class="day event">${i}</div>`;
          } else {
            days += `<div class="day ">${i}</div>`;
          }
        }
      }

      for (let j = 1; j <= nextDays; j++) {
        days += `<div class="day next-date">${j}</div>`;
      }
      daysContainer.innerHTML = days;
      addListner();
    }

    //function to add month and year on prev and next button
    function prevMonth() {
      month--;
      if (month < 0) {
        month = 11;
        year--;
      }
      initCalendar();
    }

    function nextMonth() {
      month++;
      if (month > 11) {
        month = 0;
        year++;
      }
      initCalendar();
    }

    prev.addEventListener("click", prevMonth);
    next.addEventListener("click", nextMonth);

    //function to add active on day
    function addListner() {
      const days = document.querySelectorAll(".day");
      days.forEach((day) => {
        day.addEventListener("click", (e) => {
          getActiveDay(e.target.innerHTML);
          updateEvents(Number(e.target.innerHTML));
          activeDay = Number(e.target.innerHTML);
          //remove active
          days.forEach((day) => {
            day.classList.remove("active");
          });
          //if clicked prev-date or next-date switch to that month
          if (e.target.classList.contains("prev-date")) {
            prevMonth();
            //add active to clicked day afte month is change
            setTimeout(() => {
              //add active where no prev-date or next-date
              const days = document.querySelectorAll(".day");
              days.forEach((day) => {
                if (
                  !day.classList.contains("prev-date") &&
                  day.innerHTML === e.target.innerHTML
                ) {
                  day.classList.add("active");
                }
              });
            }, 100);
          } else if (e.target.classList.contains("next-date")) {
            nextMonth();
            //add active to clicked day afte month is changed
            setTimeout(() => {
              const days = document.querySelectorAll(".day");
              days.forEach((day) => {
                if (
                  !day.classList.contains("next-date") &&
                  day.innerHTML === e.target.innerHTML
                ) {
                  day.classList.add("active");
                }
              });
            }, 100);
          } else {
            e.target.classList.add("active");
          }
        });
      });
    }

    todayBtn.addEventListener("click", () => {
      today = new Date();
      month = today.getMonth();
      year = today.getFullYear();
      initCalendar();
    });

    dateInput.addEventListener("input", (e) => {
      dateInput.value = dateInput.value.replace(/[^0-9/]/g, "");
      if (dateInput.value.length === 2) {
        dateInput.value += "/";
      }
      if (dateInput.value.length > 7) {
        dateInput.value = dateInput.value.slice(0, 7);
      }
      if (e.inputType === "deleteContentBackward") {
        if (dateInput.value.length === 3) {
          dateInput.value = dateInput.value.slice(0, 2);
        }
      }
    });

    gotoBtn.addEventListener("click", gotoDate);

    function gotoDate() {
      const dateArr = dateInput.value.split("/");
      if (dateArr.length === 2) {
        if (dateArr[0] > 0 && dateArr[0] < 13 && dateArr[1].length === 4) {
          month = dateArr[0] - 1;
          year = dateArr[1];
          initCalendar();
          return;
        }
      }
      alert("Invalid Date");
    }

    function getActiveDay(date) {
      const daysOfWeek = [
        "Domingo",
        "Lunes",
        "Martes",
        "Miércoles",
        "Jueves",
        "Viernes",
        "Sábado",
      ];

      const day = new Date(year, month, date);
      const dayName = daysOfWeek[day.getDay()]; // Obtener el nombre del día en español
      eventDay.innerHTML = dayName;
      eventDate.innerHTML = date + " " + months[month] + " " + year;
    }

    // Función para establecer una cookie, que será necesario para las solicitudes Ajax con Django
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function updateEvents(date) {
      let events = "";
      eventsArr.forEach((event) => {
        if (
          date === event.day &&
          month + 1 === event.month &&
          year === event.year
        ) {
          event.events.forEach((event) => {
            events += `<div class="event">
            <div class="title">
              <i class="fas fa-circle"></i>
              <h3 class="event-title">${event.title}</h3>
            </div>
            <div class="event-time">
              <span class="event-time">${event.client}</span>
            </div>
        </div>`;
          });
        }
      });
      if (events === "") {
        events = `<div class="no-event">
            <h3>No existe laboratorios agendados</h3>
        </div>`;
      }
      eventsContainer.innerHTML = events;
    }

    function getEvents() {
      var csrftoken = getCookie('csrftoken');
      $.ajax({
        type: "post",
        url: "http://127.0.0.1:8000/clientes/consulta/laboratorio/",
        data: {
          csrfmiddlewaretoken: csrftoken
        },
        dataType: 'json',
        success: function (response) {
          if (response.length != 0) {
            eventsArr = response;
          } else {
            eventsArr.length = 0;
          }
          initCalendar();
        }
      });
    }

    function convertTime(time) {
      //convert time to 24 hour format
      let timeArr = time.split(":");
      let timeHour = timeArr[0];
      let timeMin = timeArr[1];
      let timeFormat = timeHour >= 12 ? "PM" : "AM";
      timeHour = timeHour % 12 || 12;
      time = timeHour + ":" + timeMin + " " + timeFormat;
      return time;
    }
  </script>
  {% endblock %}